[submodule ".registry"]
	path = .registry
	url = https://github.com/nxskok/nxskok.r-universe.dev
	branch = HEAD
[submodule "bstrap"]
	path = bstrap
	url = https://worktree.ca/nxskok/bstrap
[submodule "mkac"]
	path = mkac
	url = https://github.com/nxskok/mkac
[submodule "smmr"]
	path = smmr
	url = https://github.com/nxskok/smmr
