[submodule ".registry"]
	path = .registry
	url = https://github.com/nxskok/universe
	branch = HEAD
[submodule "mkac"]
	path = mkac
	url = https://github.com/nxskok/mkac
[submodule "smmr"]
	path = smmr
	url = https://github.com/nxskok/smmr
